<div layout="row">
  <md-sidenav
       class="md-sidenav-right"
       md-component-id="right"
       md-is-locked-open="true"
       md-whiteframe="4"
       flex>

     <md-toolbar class="md-theme-indigo">
       <h1 class="md-toolbar-tools">Username</h1>
     </md-toolbar>
    <!--  <md-content layout-padding>
       {{$ctrl.feedService.user.name}},  {{$ctrl.feedService.user.age}}years
       <md-divider></md-divider>
       {{$ctrl.feedService.user.education}}
       <md-divider></md-divider>
       {{$ctrl.feedService.user.eco_strata}}
       <md-divider></md-divider>

      {{$ctrl.feedService.user.caste}}, {{$ctrl.feedService.user.religion}}
       <md-divider></md-divider>


     </md-content> -->


     <md-content layout-padding>
           Shivani Sazawal,  21 years
           <md-divider></md-divider>
           Graduate
           <md-divider></md-divider>
           Middle Class
           <md-divider></md-divider>

          Brahmin, Hindu
           <md-divider></md-divider>
        </md-content>

   </md-sidenav>

</div>